In [34]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os
import pickle
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [35]:
#df = pd.read_csv(os.path.join(".", "Resources", "ufo-sightings.csv"))
url = 'https://raw.githubusercontent.com/lucyhohler/Final-Project---Data-Analytics/master/Resources/ufo-sightings.csv'
df = pd.read_csv(url, sep=",", na_filter=False)
df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,month,season,time of day,part of day
0,1/10/1947 20:00,conroe,tx,us,other,4,3 to4 sec.,The date was early 1947 before Arnold&#39s &qu...,4/16/2005,30.311667,-95.455833,1,Winter,8:00 PM,EVENING
1,1/10/1959 18:30,south san francisco,ca,us,disk,120,2 minutes,Its was approximately 6:30pm&#44 I was sitting...,4/27/2004,37.654722,-122.406667,1,Winter,6:30 PM,EVENING
2,1/10/1964 20:00,el cerrito (over old berkeley dump),ca,us,fireball,120,2 minutes,bal of fire in the sky no reported air crashes...,5/15/2006,37.915833,-122.310556,1,Winter,8:00 PM,EVENING
3,1/10/1980 0:00,exeter,nh,us,disk,7800,10min to 2hrs,saw what appeared as very bright star&#44 some...,2/18/2001,42.981389,-70.948333,1,Winter,12:00 AM,NIGHT
4,1/10/1981 20:30,glendora,ca,us,unknown,60,1 minute,On a very foggy night in 1981 I was illuminate...,2/18/2001,34.136111,-117.864444,1,Winter,8:30 PM,EVENING

In [36]:
df = df.drop(columns=["datetime", "city", "country", "duration (seconds)", "duration (hours/min)", "comments", "date posted", "latitude", "longitude ", "month", "time of day"])
df.head()

  state     shape  season part of day
0    tx     other  Winter     EVENING
1    ca      disk  Winter     EVENING
2    ca  fireball  Winter     EVENING
3    nh      disk  Winter       NIGHT
4    ca   unknown  Winter     EVENING

In [37]:
df['outcome'] = '1'
df.head()

  state     shape  season part of day outcome
0    tx     other  Winter     EVENING       1
1    ca      disk  Winter     EVENING       1
2    ca  fireball  Winter     EVENING       1
3    nh      disk  Winter       NIGHT       1
4    ca   unknown  Winter     EVENING       1

In [38]:
import math

for index, row in df.iterrows():
    outcome = '1' 
    #print(row['shape'])
    if not row['shape'] or row['shape'] == 'other' or row['shape'] == 'unknown':
        outcome = '0'
    row['outcome'] = outcome

df.head(20)

   state     shape  season part of day outcome
0     tx     other  Winter     EVENING       0
1     ca      disk  Winter     EVENING       1
2     ca  fireball  Winter     EVENING       1
3     nh      disk  Winter       NIGHT       1
4     ca   unknown  Winter     EVENING       0
5     tx  cylinder  Winter     EVENING       1
6     ca    sphere  Winter     EVENING       1
7     il   unknown  Winter       NIGHT       0
8     nj  fireball  Winter       NIGHT       1
9     ca     light  Winter       NIGHT       1
10    ms     light  Winter       NIGHT       1
11    ny     other  Winter       NIGHT       0
12    ca            Winter     MORNING       0
13    oh    sphere  Winter       NIGHT       1
14    pa            Winter     EVENING       0
15    oh  triangle  Winter       NIGHT       1
16    me    circle  Winter     MORNING       1
17    wa     light  Winter     EVENING       1
18    mi     light  Winter       NIGHT       1
19    in            Winter       NIGHT       0

In [39]:
y_test = df["outcome"]
y_test.head()

0    0
1    1
2    1
3    1
4    0
Name: outcome, dtype: object

In [40]:
X_test = df.drop("outcome", axis=1)
feature_names = data.columns
X_test.head()

  state     shape  season part of day
0    tx     other  Winter     EVENING
1    ca      disk  Winter     EVENING
2    ca  fireball  Winter     EVENING
3    nh      disk  Winter       NIGHT
4    ca   unknown  Winter     EVENING

In [41]:
from sklearn.preprocessing import LabelEncoder

X_test = X_test.apply(LabelEncoder().fit_transform)

In [42]:
# change file name and load test data
filename = 'knn_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.9513624062000247