In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
url = 'https://raw.githubusercontent.com/lucyhohler/Final-Project---Data-Analytics/master/Resources/ufo-sightings.csv'
df = pd.read_csv(url, sep=",", na_filter=False)
df.head()

          datetime                                 city  ... time of day part of day
0  1/10/1947 20:00                               conroe  ...     8:00 PM     EVENING
1  1/10/1959 18:30                  south san francisco  ...     6:30 PM     EVENING
2  1/10/1964 20:00  el cerrito (over old berkeley dump)  ...     8:00 PM     EVENING
3   1/10/1980 0:00                               exeter  ...    12:00 AM       NIGHT
4  1/10/1981 20:30                             glendora  ...     8:30 PM     EVENING

[5 rows x 15 columns]

In [3]:
data = df.drop(columns=["duration (seconds)", "duration (hours/min)", "comments", "latitude", "longitude ", "time of day", "country"])
df1 = df.drop(columns=["datetime", "city", "country", "duration (seconds)", "duration (hours/min)", "comments", "date posted", "latitude", "longitude ", "month", "time of day"])
data.head()

          datetime                                 city  ...  season part of day
0  1/10/1947 20:00                               conroe  ...  Winter     EVENING
1  1/10/1959 18:30                  south san francisco  ...  Winter     EVENING
2  1/10/1964 20:00  el cerrito (over old berkeley dump)  ...  Winter     EVENING
3   1/10/1980 0:00                               exeter  ...  Winter       NIGHT
4  1/10/1981 20:30                             glendora  ...  Winter     EVENING

[5 rows x 8 columns]

In [4]:
df1['outcome'] = '1'

import math

for index, row in df1.iterrows():
    outcome = '1' 
    #print(row['shape'])
    if not row['shape'] or row['shape'] == 'other' or row['shape'] == 'unknown':
        outcome = '0'
    row['outcome'] = outcome

df1.head()

  state     shape  season part of day outcome
0    tx     other  Winter     EVENING       0
1    ca      disk  Winter     EVENING       1
2    ca  fireball  Winter     EVENING       1
3    nh      disk  Winter       NIGHT       1
4    ca   unknown  Winter     EVENING       0

In [5]:
from sklearn.preprocessing import LabelEncoder

data = data.apply(LabelEncoder().fit_transform)
data.head()

   datetime  city  state  shape  date posted  month  season  part of day
0       371  2139     44     20          161      0       3            1
1       372  9524      4     12          172      0       3            1
2       373  2941      4     14          189      0       3            1
3       374  3192     30     12          104      0       3            3
4       375  3800      4     28          104      0       3            1

In [6]:
# Assign X (data) and y (target)

X = data
y = df1["outcome"]
print(X.shape, y.shape)

(65032, 8) (65032,)

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [8]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8371263378029278
Testing Data Score: 0.8376184032476319

In [11]:
predictions = classifier.predict(X_test)
print(f"First 7 Predictions:   {predictions[:7]}")
print(f"First 7 Actual labels: {y_test[:7].tolist()}")

First 7 Predictions:   ['1' '1' '1' '1' '1' '0' '1']
First 7 Actual labels: ['0', '1', '0', '1', '1', '0', '1']

In [12]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True).head(10)

  Prediction Actual
0          1      0
1          1      1
2          1      0
3          1      1
4          1      1
5          0      0
6          1      1
7          1      1
8          1      1
9          1      1